* {
    box-sizing: border-box;
}

a {
    color: #2A8782;
    text-decoration: none;
    transition: text-shadow 0.25s;
}

a:hover {
    text-shadow: 0 0 4px grey;
}

body {
    /* structure */
    margin: 0 auto;
    overflow-y: scroll;
    width: 80%;

    /* presentation */
    background: url('../images/concrete_seamless.png') repeat;
}

body,
button {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #015770;
    letter-spacing: 0.1em;
}

header {
    padding-bottom: 2em;
}


.hide {
    display: none !important;
}

.slider {
    -webkit-backface-visibility: hidden;
    /* obligatoire pour éviter l'effet de crénelage sous Chrome */

    text-align: center;
    transform: rotate(-3deg);
    transform-origin: 50% 50%;
}

/* .slider figcaption {
    color: #2A8782;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 0 0 4px grey;
} */

.slider img {
    background-color: white;
    padding: 1em;
    border-radius: 6px;
    box-shadow: 0 0 8px black;
}

.toolbar ul {
    /* structure */
    padding-left: 0;

    /* presentation */
    list-style-type: none;
    text-align: center;
}

.toolbar ul li {
    display: inline-block;
}

.toolbar ul li+li {
    margin-left: 1em;
}



.bottom-ul {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    margin: 0;
    padding: 0;
}

.bottom-li {
    list-style-type: none;
    margin: 10px 0;
}

.thumbnails {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    border: 1px solid black;
    border-radius: 5px;

}

.min {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 5px;
    /* Add some space between thumbnails */
}

.selected {
    border: 4px solid black;
    padding: 2px;
}